body{
    height: 100vh;
    margin: 0, auto;
    padding: 0;
    background-color: ivory;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.calcon{
    border: 1px solid black;
    width: 400px;
    height: 500px;
    background-color: wheat;
}

.displacon{
    display: flex;
    justify-content: end;
    align-items: end;
    border: 1px solid black;
    width: 300px;
    height: 100px;
    background-color: whitesmoke;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 50px;
}

input{
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 8px;
    
}
 
.btn-con{
    display: flex;
    border: 1px solid black;
    height: 66%;
}

.btn-num{
    display: flex;
    justify-content: center;
    border: 1px solid black;
    width: 60%;
}

.btn-opr{

    border: 1px solid black;
    width: 40%;
}

#num-el{
    display: grid;
    grid-template-columns: repeat(3,70px);
    gap: 5px;
    cursor: pointer;
}

#opt-el{
     display: grid;
    grid-template-columns: repeat(3);
    gap: 2px;
    cursor: pointer;
}